---
import Layout from "../../../layouts/Layout.astro";
import ShowProductsInCategory from "../../../components/Category/ShowProductsInCategory.vue";

import { getProductsFromCategory } from "../../../graphql/queries/getProductsFromCategory";

const { slug ,id} = Astro.params;
import { getAllCategories } from "../../../graphql/queries/getAllCategories";


const products = await getProductsFromCategory(slug);

export async function getStaticPaths() {
  const categories = await getAllCategories();
  return {
    paths: categories.extras.elements.categories.map(category => ({ params: { slug: category.slug } })),
    fallback: false, // Set to 'blocking' for server-side fallback rendering
   
  };
}

---

<Layout title="Welcome to Category Products">
  <main>
    <h1 class="text-3xl text-center font-bold p-6">Category Products page</h1>
    <ShowProductsInCategory products={products} client:load />
  </main>
</Layout>
