---
const todayDate = new Date().getFullYear();


---
<!--
<div class="container mx-auto mt-24 lg:max-w-[1375px]">
  <footer
    class="text-center bg-white border border-gray-300 rounded-lg shadow-lg"
  >
    <div class="py-6">
      Copyright reserved &copy; {todayDate} Daniel / w3bdesign
    </div>
  </footer>
</div>  -->


  <footer>
    <div class="footer container">
      <div class="footer__logo">
        <img src="/images/logo.png" alt="footer logo" />
      </div>
      <div class="footer__lists">
        <div class="footer__list">
          <h6 class="footer__list__title">Categories</h6>
          <nav>
            <a href="#">Home</a>
            <a href="#">Posts</a>
            <a href="#">Contact</a>
          </nav>
        </div>
        <div class="footer__list">
          <h6 class="footer__list__title">About</h6>
          <ul>
            <li>Geek's Bakery</li>
            <li>Pham Chi Trung</li>
            <li>phamchitrung.work@gmail.com</li>
          </ul>
        </div>
        <div class="footer__list">
          <h6 class="footer__list__title">Social</h6>
          <div class="footer__list__social">
            <a target="_blank" href="https://www.facebook.com/trungxi.it">
              <img src="/icons/facebook.svg" alt="facebook icon" />
            </a>
            <a target="_blank" href="https://github.com/TrungXiIT">
              <img src="/icons/github.svg" alt="github icon" />
            </a>
            <a target="_blank" href="https://www.linkedin.com/in/trung-ph%E1%BA%A1m-101b871a2/">
              <img src="/icons/linkedin.svg" alt="linkedin icon" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid footer__copyright">
      <p>Copyright © 2021 Pham Chi Trung</p>
    </div>
  </footer>

