---
import Navbar from "./Navbar.astro";
import Footer from "./Footer.astro";

import { siteConfig } from "../config/siteConfig";

const { title } = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
   
	</head>
	<body>
		<Navbar />

    <div class="container p-4 mx-auto">
      <slot />
      
      <Footer />
     
      
	</body>
</html>
<style is:global>
 
.row>* {
  width:auto;
}

</style>
