---

import Footer from "./Footer.astro";
import Navbar from "./Navbar.astro";
import { siteConfig } from "../config/siteConfig";
import CartFlyout from "../components/Cart/CartFlyout.vue";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    data-spy="scroll"
    data-target=".fixed-top"
    class="bg-white text-gray-600 work-sans leading-normal text-base tracking-normal"
  >
    <Navbar />

    <div class="container p-4 mx-auto">
      <slot />

      <!-- Details 2 -->
     
      <!-- end of details 2 -->
    
      <Footer />
      <!--  <script is:inline src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
      <script src="../scripts/scripts.js"></script>
    -->
      <script
        src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
        type="text/javascript"></script>
      <script src="//unpkg.com/alpinejs" defer></script>
      <!--  <script src="../scripts/jquery.easing.min.js"></script>
    
      <script src="../scripts/swiper.min.js"></script>
    
      <script src="../scripts/jquery.magnific-popup.js"></script>
    
      <script src="../scripts/scripts.js"></script>
       -->
    </div>
    <CartFlyout client:load />
  </body>
  </html>
  <style is:global>
    	:root {
		--font-family: system-ui, sans-serif;
		--font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
		--font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
		--font-size-xl: clamp(2rem, 1.75vw + 1.35rem, 2.75rem);

		--color-text: hsl(12, 5%, 4%);
		--color-bg: hsl(17, 20%, 97%);
		--color-bg-2: hsl(17, 20%, 94%);
		--color-bg-3: hsl(17, 20%, 88%);
		--astro-blue: #4f39fa;
		--astro-pink: #da62c4;

		--content-max-width: 90ch;
		--nav-height: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
	}

	h1 {
		font-size: var(--font-size-xl);
	}

	button {
		border: none;
		color: var(--astro-blue);
		border: 2px solid var(--astro-blue);
		transition:
			color 0.2s,
			background-color 0.2s;
		background-color: transparent;
		padding: 0.4rem 0.8rem;
		border-radius: 0.4rem;
		font-family: var(--font-family);
		font-size: var(--font-size-base);
		font-weight: bold;
		cursor: pointer;
	}

	button:hover {
		background-color: var(--astro-blue);
		color: white;
	}
</style>

<style>
  html {
		font-family: var(--font-family);
		font-size: var(--font-size-base);
		color: var(--color-text);
		background-color: var(--color-bg);
	}

	body {
		margin: 0;
	}

	header {
		background: var(--color-bg-2);
	}

	nav {
		max-width: var(--content-max-width);
		height: var(--nav-height);
		margin: auto;
		padding-inline: 1rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.nav-header,
	.nav-header:visited {
		font-size: var(--font-size-base);
		font-weight: bold;
		color: inherit;
		text-decoration: none;
	}
	
    .row > * {
      width: auto;
    }
    .work-sans {
      font-family: "Work Sans", sans-serif;
    }

    #menu-toggle:checked + #menu {
      display: block;
    }

    .hover\:grow {
      transition: all 0.3s;
      transform: scale(1);
    }

    .hover\:grow:hover {
      transform: scale(1.02);
    }

    .carousel-open:checked + .carousel-item {
      position: static;
      opacity: 100;
    }

    .carousel-item {
      -webkit-transition: opacity 0.6s ease-out;
      transition: opacity 0.6s ease-out;
    }

    #carousel-1:checked ~ .control-1,
    #carousel-2:checked ~ .control-2,
    #carousel-3:checked ~ .control-3 {
      display: block;
    }

    .carousel-indicators {
      list-style: none;
      margin: 0;
      padding: 0;
      position: absolute;
      bottom: 2%;
      left: 0;
      right: 0;
      text-align: center;
      z-index: 10;
    }

    #carousel-1:checked
      ~ .control-1
      ~ .carousel-indicators
      li:nth-child(1)
      .carousel-bullet,
    #carousel-2:checked
      ~ .control-2
      ~ .carousel-indicators
      li:nth-child(2)
      .carousel-bullet,
    #carousel-3:checked
      ~ .control-3
      ~ .carousel-indicators
      li:nth-child(3)
      .carousel-bullet {
      color: #000;
      /*Set to match the Tailwind colour you want the active one to be */
    }
  </style>

